<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{seo.title}}</title>
    <link rel="canonical" href="{{seo.url}}" />
    <meta name="description" content="{{seo.description}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{seo.url}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="{{seo.image}}" />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script type="module" src="/js/loadArtist.js"></script>
    <script type="module" src="/js/albumSelected.js"></script>
    <script type="module" src="/js/contextMenu.js"></script>
    <script src="/js/designSelection.js" type="module"></script>
    <script src="/js/Vibrant.min.js"></script>
    <script src="https://rsmbl.github.io/Resemble.js/resemble.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        <div class="title-container">
          <h1 class="title">Spotify Album Poster</h1>
          <img
            src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/Spotify_logo_without_text.svg?v=1674528395220"
            class="title-image"
            alt="Spotify logo"
          />
        </div>
        {{#if artist_error}}
          <p class="artist-info">Hmm. Couldn't find
            <b>"{{artist_error}}"</b>.</p>
        {{/if}}
        <div class="color-form">
          <p class="poster-description">Create a poster of a Spotify album!</p>
          <label for="artist">{{#if artist_name}}
              Try another artist?<br />{{else}}
              What's the artist's name?<br />{{/if}}
            <input id="artist" name="artist" required="required" type="text" />
          </label>
          <button type="button" id="artist-submit">Submit</button>
        </div>
        <div id="albums" class="albums"></div>
        <div class="pagination">
          <button id="prev-page">Previous</button>
          <button id="next-page">Next</button>
        </div>
        <!-- Design Selection Section -->
        <div class="design-selection">
          <h2>Select a Design</h2>
          <div class="designs">
            <!-- Design 1 -->
            <div class="design" data-design="design1">
              <img src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/design_1.jpg?v=1722782909354" alt="Design 1 Preview" />
              <p>Classic</p>
            </div>
            <div class="design" data-design="design2">
              <img src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/design_2.png?v=1722793565149" alt="Design 1 Preview" />
              <p>Modern</p>
            </div>
            <div class="design" data-design="design3">
              <img src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/design_3.png?v=1722793896103" alt="Design 1 Preview" />
              <p>Vintage</p>
            </div>
            <div class="design" data-design="design4">
              <img src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/design_1.jpg?v=1722782909354" alt="Design 1 Preview" />
              <p>Sleek</p>
            </div>
            <div class="design" data-design="design5">
              <img src="https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/design_5.png?v=1722793898506" alt="Design 1 Preview" />
              <p>Elegant</p>
            </div>
          </div>
        </div>
        <button type="button" id="proceed">Proceed</button>
        <div class="how-it-works">
          <h2>How it works</h2>
          <p>Using Spotify's developer API, the album's details and artwork can
            be fetched. Image processing is used to create a standard
            paper-sized image with respective album details.</p>
        </div>
      </div>
    </div>
    <!-- Custom Context Menu -->
    <div class="custom-menu" id="custom-menu">
      <a href="#" id="preview-link">Preview in New Tab</a>
    </div>
  </body>
</html>
